@import 'header/header.scss';
@import 'footer_contacts/footer_contacts.scss';

$color-main: rgb(255, 255, 255);
$color-frame: rgb(255, 193, 85);
$color-logo:  rgb(255, 219, 71);
$font2: "Myriad Pro";

@mixin screen ($size) {
    @if $size == medium {
        @media (max-width: 547px) {@content};
    }
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Roboto";
}

a {
    text-decoration: none;
}


/* header/Шапка. Текст с фоновой картинкой */

.wrapper-top {
    background: url(../images/top1_1.jpg) center center/cover no-repeat; 
}


/* tours-block/Услуги. ВЫБЕРИТЕ ТУР */

.bg {
    background: $color-main;
}

.mt-7 {
    margin-top: 7vw;
    margin-bottom: 5vw;
}

.tour-name { 
    color: rgb(112, 157, 202);
    font-size: 26px;
    text-transform: uppercase;
    text-align: center;
    line-height: 15px;
    margin-bottom: 5vw;
}

.tours {
    align-items: initial;
    &:nth-child(2n) {
        flex-direction: row-reverse;
        .tours-nav {
            text-align: right;
        }
    }
}

.tours-img {
    background: url(../photos/group.jpg) center center/cover no-repeat; 
    flex-grow: 1;
    flex-basis: 300px;
    min-height: 350px;
    flex-grow: 2;
    flex-basis: 290px;
    min-width: 50%;
}

.tours-img1 {
    background: url(../images/3_01.jpg) center center/cover no-repeat;
}

.tours-img2 {
    background: url(../images/2_02.jpg) center center/cover no-repeat;
}

.tours-img3 {
    background: url(../images/3_03.jpg) center center/cover no-repeat;
}

.tours-img4 {
    background: url(../images/2_04.jpg) center center/cover no-repeat;
}

.tours-nav {
    flex-grow: 1;
    flex-basis: 50%;
    padding: 4vw 3vw 13px 3vw;
    box-sizing: border-box;
    color: $color-main;
    background: $color-frame;
    > * {
        margin-bottom: 15px;
    }
    h3 {
        font-size: 18px;
        text-transform: uppercase;
    }
    p {
        font-size: 13px;
        font-family: $font2;
    }
    div {
        font-size: 20px;
    }
}

.tours-button {
    font-size: 14px;
    font-family: $font2;
    color: $color-main;
    text-transform: uppercase;
    background: rgb(231, 173, 72);
    padding: 15px 35px;
    border: 1px solid rgb(203, 141, 33);
    border-radius: 2px;
    line-height: 9vw;
    white-space: nowrap;
}