@charset "UTF-8";
/* header/Шапка. Текст с фоновой картинкой Москвы */
.wrapper {
  position: relative;
  overflow: hidden;
}

.wrapper-top {
  background: url(../photos/top.jpg) center center/cover no-repeat;
  margin: 0 auto;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1140px;
  margin: 0 auto;
}

.logo-1 {
  background: url(../icon/spasskaya-tower.png) center center/contain no-repeat;
  padding: 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 10px;
}

.logo-2 {
  font-size: 36px;
  font-family: "MV Boli";
  color: #ffdb47;
}

@media (max-width: 547px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    background: rgba(41, 6, 41, 0.911);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 10px;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
}

.nav a {
  text-align: left;
  font-size: 15px;
  color: white;
  margin: 15px;
  position: relative;
}

@media (max-width: 547px) {
  .nav a {
    text-align: center;
    padding: 8px;
    font-size: 20px;
    font-weight: 600;
    color: #ffdb47;
  }
}

.nav a::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 1.5px;
  background: white;
  bottom: -1px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.nav a:hover::before {
  width: 100%;
}

/* Превращение в крестик для мини-меню */
.openMenu {
  position: absolute;
  display: none;
  top: 0;
  right: 0;
  height: 40px;
  width: 40px;
  margin: 24px 8px;
  z-index: 999999999999999;
  cursor: pointer;
}

.openMenu div {
  border-top: 1px #ffdb47 solid;
  width: 40px;
}

@media (max-width: 547px) {
  .openMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.dash1 {
  position: absolute;
}

.dash2 {
  position: absolute;
  top: 10px;
}

.dash3 {
  position: absolute;
  top: 20px;
}

/* Навигация меню. Шапка. продолжение... */
.nav-center {
  color: white;
  min-height: 560px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nav-center-1 div h1 {
  text-align: center;
  font-size: 59px;
  line-height: calc(42px + 1vw);
}

.nav-center-1 div span {
  text-align: center;
  font-size: 28px;
}

.nav-center-1 div h2 {
  text-align: center;
  font-size: 34px;
}
/*# sourceMappingURL=header.css.map */